<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.edwinklasson.focusmouse</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/edwinklasson/.local/bin/focusmouse</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/focusmouse_edwinklasson.out.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/focusmouse_edwinklasson.err.log</string>
</dict>
</plist>
